@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/subset-MinionPro-Regular.eot');
    src: url('../fonts/subset-MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-MinionPro-Regular.woff') format('woff'),
         url('../fonts/subset-MinionPro-Regular.ttf') format('truetype'),
         url('../fonts/subset-MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}