@font-face {
    font-family: 'Minion Pro';
    src: url('../fonts/subset-MinionPro-Regular.eot');
    src: url('../fonts/subset-MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-MinionPro-Regular.woff') format('woff'),
         url('../fonts/subset-MinionPro-Regular.ttf') format('truetype'),
         url('../fonts/subset-MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AA Sans Armenian';
    src: url('../fonts/AASansArmenian.eot');
    src: url('../fonts/AASansArmenian.eot') format('embedded-opentype'),
         url('../fonts/AASansArmenian.woff2') format('woff2'),
         url('../fonts/AASansArmenian.woff') format('woff'),
         url('../fonts/AASansArmenian.ttf') format('truetype'),
         url('../fonts/AASansArmenian.svg#AASansArmenian') format('svg');
}


@font-face {
    font-family: 'AA Sans Bold';
    src: url('../fonts/subset-AASans-Bold.eot');
    src: url('../fonts/subset-AASans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-AASans-Bold.woff') format('woff'),
         url('../fonts/subset-AASans-Bold.ttf') format('truetype'),
         url('../fonts/subset-AASans-Bold.svg#AASans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AA Sans';
    src: url('../fonts/subset-AASans.eot');
    src: url('../fonts/subset-AASans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/subset-AASans.woff') format('woff'),
         url('../fonts/subset-AASans.ttf') format('truetype'),
         url('../fonts/subset-AASans.svg#AASans') format('svg');
    font-weight: normal;
    font-style: normal;
}
