
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
    padding: 200px 0 0 0;
    @include m1600 {
       padding-top: 160px;
    }
    @include m1200 {
        padding-top: 100px;
    }
}
hr {
    margin: 70px 0 95px;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
    @include m1200 {
        width: 100%;
        padding: 0 10px;
    }
}
main {
    padding-top: 50px;
    padding-left: 75px;
    text-align: left;
    padding-bottom: 120px;
    min-height: calc(100% - 200px);
    position: relative;
    .content {
        width: 1150px;
        @include m1600 {
            width: 100%;
        }
    }
    @include m1600 {
        padding: 50px 60px 100px 60px;
    }
    @media (max-width: 900px) {
        padding: 50px 20px 100px 20px;
    }
}
.wrap-content {
    position: relative;
    padding-left: 230px;
    padding-bottom: 120px;
    @include m1600 {
        padding-left: 180px;
    }
    @include m1200 {
        padding-left: 0;
    }
}