// COLORS
// ---------------------------
$red:                   #ed1f24;

// FONTS
// ---------------------------
$m:                     'Minion Pro';
$as:                    'AA Sans';
$asb:                   'AA Sans Bold';
$asa:                   'AA Sans Armenian';

// RESPONSIVE
// ---------------------------
